<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /iservice/

    # Don't redirect admin folder
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_URI} ^/iservice/admin/ [OR]
    RewriteCond %{REQUEST_URI} ^/iservice/config/ [OR]
    RewriteCond %{REQUEST_URI} ^/iservice/api/
    RewriteRule ^ - [L]

    # Redirect all other requests to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
